<!DOCTYPE html>
<html>
<head>
    <title>Tea Leaf Disease Detector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav class="navbar">
    <h2>🌿 TeaCare AI</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
    </ul>
</nav>

<section class="hero">
    <h1>Detect Tea Leaf Diseases Instantly</h1>
    <p>Upload an image and let AI analyze plant health 🌱</p>
    <a href="/predict" class="btn">Start Prediction</a>
    <a href="/weather-page" class="btn">🌦️ Check Weather Insights</a>
</section>


<footer>
    <p>© 2026 TeaCare AI | Built with ❤️</p>
</footer>

</body>
</html>
